<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{owner/ownerLayout}">
<head>
    <title>Rooms</title>
</head>
<body>
<div class="container" layout:fragment="ownerContent" th:remove="tag">
    <div class="row">
        <h3>Rooms</h3>
    </div>
    <div class="row">
        <form class="edit-room-0" role="form" th:action="@{/owner/rooms/create}" method="post">
            <div class="row">
                <div class="form-group col-xs-1">
                    <input type="hidden" name="id" value="0"/>
                    <!--<input type="hidden" name="leaseId" value="0" class="form-control input-sm" title="ID" />-->
                </div>
                <div class="form-group col-xs-2">
                    <input type="text" name="name" title="name" placeholder="name" class="form-control input-sm"/>
                </div>
                <div class="form-group col-xs-2">
                    <input type="text" name="square" title="square" placeholder="square" class="form-control input-sm"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-5">
                    <select name="roomsObject.id" title="roomsObject" class="form-control input-sm">
                        <th:block th:each="roomObject: ${roomDto.roomsObjects}">
                            <option th:value="${roomObject.id}"
                                    th:text="${roomObject.name + ', ' + roomObject.address.street.city.name + ', ' + roomObject.address.street.city.country.name}">
                            </option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group col-xs-offset-2 col-xs-3">
                    <button type="submit" th:value="#{button.create}" class="btn btn-success btn-sm">Create</button>
                </div>
            </div>
        </form>
        <hr/>
        <th:block th:each="room:${roomDto.rooms}">
            <form th:id="'edit-room-' + ${room.id}" role="form" action="/owner/rooms/edit" method="post">
                <div class="row">
                    <div class="form-group col-xs-1">
                        <input type="text" name="room.id" th:value="${room.id}" class="form-control input-sm" title="ID"
                               disabled/>
                        <input type="hidden" name="room.id" th:value="${room.id}"/>
                        <input type="hidden" name="room.roomsObject.id" th:value="${room.roomsObject.id}"/>
                    </div>
                    <div class="form-group col-xs-2">
                        <input type="text" name="room.name" th:value="${room.name}" title="name"
                               class="form-control input-sm"/>
                    </div>
                    <div class="form-group col-xs-2">
                        <input type="text" name="room.square" th:value="${room.square}" title="square"
                               class="form-control input-sm"/>
                    </div>
                    <th:block th:if="${room.leaseAds.size() == 1}" th:each="leaseAd : ${room.leaseAds}">
                        <div class="form-group col-xs-2">
                            <input type="hidden" name="leaseAd.id" th:value="${leaseAd.id}"/>
                            <input type="text" name="leaseAd.price" th:value="${leaseAd.price}" title="price"
                                   class="form-control input-sm"/>
                        </div>
                        <div class="form-group col-xs-2">
                            <input type="text" name="leaseAd.startLease" th:value="${leaseAd.dateStartLease}"
                                   title="startLease" class="form-control input-sm" disabled/>
                        </div>
                        <div class="form-group col-xs-2">
                            <input type="text" name="leaseAd.dateStopLease" th:value="${leaseAd.dateStopLease}"
                                   title="startLease" class="form-control input-sm" disabled/>
                        </div>
                    </th:block>
                    <th:block th:if="${room.leaseAds.size() == 0}">
                        <div class="form-group col-xs-2">
                            <input type="hidden" name="leaseAd.id" value="0"/>
                            <input type="text" name="leaseAd.price" value="0" placeholder="0" title="price"
                                   class="form-control input-sm"/>
                        </div>
                        <div class="form-group col-xs-2">
                            <input type="text" title="startLease" class="form-control input-sm" disabled/>
                        </div>
                        <div class="form-group col-xs-2">
                            <input type="text" title="startLease" class="form-control input-sm" disabled/>
                        </div>
                    </th:block>
                </div>
                <div class="row">
                    <div class="form-group col-xs-5">
                        <select name="roomsObject.id" title="roomsObject" class="form-control input-sm">
                            <th:block th:each="roomObject: ${roomDto.roomsObjects}">
                                <option th:value="${roomObject.id}"
                                        th:text="${roomObject.name + ', ' + roomObject.address.street.city.name + ', ' + roomObject.address.street.city.country.name}"
                                        th:selected="${roomObject.id == room.roomsObject.id}">
                                </option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group col-xs-5">
                        <button type="submit" th:value="#{button.update}" class="btn btn-warning btn-sm">Update</button>
                        <button type="submit" th:form="'delete-room-' + ${room.id}"
                                th:value="#{button.delete}" class="btn btn-danger btn-sm">Delete
                        </button>
                        <th:block th:if="${room.leaseAds.size() == 1}" th:each="leaseAd : ${room.leaseAds}">
                            <th:block th:if="${leaseAd.price != null}">
                                <input th:form="'start-lease-' + ${room.id}" type="hidden" name="id"
                                       th:value="${leaseAd.id}"/>
                                <button type="submit" th:form="'start-lease-' + ${room.id}"
                                        th:value="#{button.dateStartLease}" class="btn btn-info btn-sm">StartLease
                                </button>
                                <th:block th:if="${leaseAd.dateStartLease != null}">
                                    <input th:form="'stop-lease-' + ${room.id}" type="hidden" name="id"
                                           th:value="${leaseAd.id}"/>
                                    <button type="submit" th:form="'stop-lease-' + ${room.id}"
                                            th:value="#{button.dateStopLease}" class="btn btn-danger btn-sm">StopLease
                                    </button>
                                </th:block>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </form>
            <form th:id="'delete-room-' + ${room.id}" role="form" action="/owner/rooms/delete" method="post">
                <input type="hidden" name="id" th:value="${room.id}"/>
            </form>
            <form th:id="'start-lease-' + ${room.id}" role="form" action="/owner/rooms/startlease" method="post">
            </form>
            <form th:id="'stop-lease-' + ${room.id}" role="form" action="/owner/rooms/stoplease" method="post">
            </form>
            <hr/>
        </th:block>

        <!--&lt;!&ndash;Paging&ndash;&gt;-->
        <!--<div class="container">-->
        <!--<div class="center-block">-->
        <!--<th:block th:if="${leaseAdDto.count > 0}">-->
        <!--<input th:form="'form-filter-paging'" type="hidden" id="currentPage" name="paging.currentPage"-->
        <!--th:value="${leaseAdDto.paging.currentPage}"/>-->
        <!--<ul class="pagination">-->
        <!--<th:block th:each="pg : ${leaseAdDto.paging.pagerModel.pagerLinks}">-->
        <!--<th:block th:if="${pg.getValue() == leaseAdDto.paging.currentPage}">-->
        <!--<li class="active" th:attr="data-value=${pg.getValue()}">-->
        <!--<a href="#" class="" th:text="${pg.key}"><span class="sr-only">(current)</span></a>-->
        <!--</li>-->
        <!--</th:block>-->
        <!--<th:block th:if="${pg.getValue() <= 0}">-->
        <!--<li class="disabled"><a href="#" class="" th:text="${pg.key}"></a></li>-->
        <!--</th:block>-->
        <!--<th:block-->
        <!--th:if="${pg.getValue() > 0 && pg.getValue() != leaseAdDto.paging.currentPage}">-->
        <!--<li th:attr="data-value=${pg.getValue()}">-->
        <!--<a href="#" class="form-filter-paging-FnButton-Paging" th:text="${pg.key}"></a>-->
        <!--</li>-->
        <!--</th:block>-->
        <!--</th:block>-->
        <!--</ul>-->
        <!--</th:block>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;End paging&ndash;&gt;-->
    </div>
</div>
</body>
</html>

