<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name = "connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name = "dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:2016/lr</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password"></property>
        <property name = "show_sql">true</property>
        <property name = "format_sql">true</property>

        <mapping class = "by.itacademy.entity.Country"/>
        <mapping class = "by.itacademy.entity.City"/>
        <mapping class = "by.itacademy.entity.Street"/>
        <mapping class = "by.itacademy.entity.Street"/>
        <mapping class = "by.itacademy.entity.Address"/>
        <mapping class = "by.itacademy.entity.RoomsObject"/>
        <mapping class = "by.itacademy.entity.RoomsObjectInformations"/>
        <mapping class = "by.itacademy.entity.Room"/>
        <mapping class = "by.itacademy.entity.LeaseAd"/>
        <mapping class = "by.itacademy.entity.User"/>
        <mapping class = "by.itacademy.entity.Role"/>
        <mapping class = "by.itacademy.entity.LeaseAd"/>

    </session-factory>
</hibernate-configuration>