<!--<%@ page contentType="text/html;charset=UTF-8" language="java" pageEncoding="UTF-8" %>-->
<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<h1>Index.html</h1>
<h2>Hello World!</h2>
</br>
</br>
<!--<a href="<c:url value = "/WEB-INF/exclude/index.jsp"/>" style="pointer-events: none; cursor: default; color: #999;">index.jsp</a></br>-->
<!--<a href="<c:url value = "/welcome"/>"> userWelcom.jsp</a></br>-->
<!--<a href="<c:url value = "/lease"/>"> 4td check point (spring)</a></br>-->
<a th:href="@{/WEB-INF/templates/index.html}" style="pointer-events: none; cursor: default; color: #999;">index.html</a></br>
<a href="/lease"> lease</a></br>
<a href="/owner"> owner</a></br>
<a href="/admin"> admin</a></br>
<a href="/lease?language=ru_RU"> 5-я контрольная точка: spring mvc, thymeleaf, Internationalization('Фильтр', 'Применить')</a></br>


<script src="/js/jquery-1.10.2.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/mymap.js"></script>
</body>
</html>
