<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Lease Rooms</title>
</head>
<body>
<div class="container" layout:fragment="content" th:remove="tag">
    <ul class="nav navbar-left nav-stacked" style="min-width: 430px;">
        <th:block th:each="roomsObject:${roomsObjectDto.roomsObjects}" >
            <li>
                <a th:href="@{'/' + ${roomsObject.id}}">
                    <span th:text="${roomsObject.name + ', ' +roomsObject.address.street.city.name + ', ' + roomsObject.address.street.city.country.name}"></span>
                    <span class="badge pull-right"
                          th:text="${roomsObject.rooms.size()}">
                    </span>
                </a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>

